<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title showTitle">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rating: {{this.rating}} | Platform: {{this.streamService}}</h6>
        <h6>Watch at least {{this.minEpisodes}} episodes before giving up</h6>
        <p class="card-text">{{this.writeUp}}</p>
        <button class="delete-show-review btn btn-danger btn-sm" data-id="{{this.id}}">Delete Review</button>
    </div>
</div>