<ul style="width: 35rem;">
    <li class="list-group-item">
        <h5 class="card-text text-center"><a class="userName">{{this.userName}}</a>'s Review</h5>
    </li>
    <li class="list-group-item" id="showInfo">
        <h5 class="card-title"><a class="showTitle">{{this.title}}</a></h5>
        <h6 class="card-subtitle mb-2">Rating: {{this.rating}} | Platform: {{this.streamService}}</h6>
    </li>
    <li class="list-group-item">
        <p class="card-text">{{this.writeUp}}</p>
    </li>

    {{#if this.recommend}}
    <li class="list-group-item text-center">They recommend this show!</li>
    {{/if}}
    {{#unless this.recommend}}
    <li class="list-group-item text-center">They do not recommend this show...</li>
    {{/unless}}
    <li class="list-group-item reviewTimestamp text-muted text-center">{{this.createdAt}}</li>
</ul>