{{!-- <div class="card" style="width: 25rem;">
    <li class="list-group-item card-header movieTitle">{{this.title}}</li>
    <li class="list-group-item">{{this.rating}}</li>
    <li class="list-group-item">{{this.streamService}}</li>
    <li class="list-group-item">{{this.writeUp}}</li>
    </ul>
</div> --}}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title movieTitle">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rating: {{this.rating}} | Platform: {{this.streamService}}</h6>

        <p class="card-text">{{this.writeUp}}</p>
        <button class="delete-movie-review btn btn-danger btn-sm" data-id="{{this.id}}">Delete Review</button>
    </div>
</div>