<ul style="width: 100%;">
    <li class=" list-group-item" id="movieInfo">
        <h5 class="card-title"><a class="movieTitle">{{this.title}}</a></h5>
        <h6 class="card-subtitle mb-2">Rating: {{this.rating}} | Platform: {{this.streamService}}</h6>
    </li>

    <li class="list-group-item">
        <p class="card-text">{{this.writeUp}}</p>
    </li>
    <li class="list-group-item">
        <button class="delete-review btn btn-danger btn-sm" data-id="{{this.id}}">Delete Review</button>
    </li>
</ul>