

<div class="card" style="width: 25rem;">
    <li class="list-group-item card-header userName">{{this.userName}}</li>
    <li class="list-group-item">{{this.rating}}</li>
    <li class="list-group-item">{{this.streamService}}</li>
    <li class="list-group-item">{{this.writeUp}}</li>
    {{#if this.recommend}}
    <li class="list-group-item">Recommended</li>
    {{/if}}
    {{#unless this.recommend}}
    <li class="list-group-item">Not recommended</li>
    {{/unless}}
    <li class="list-group-item reviewTimestamp">{{this.createdAt}}</li>
    </ul>
</div>